# NAME-PAPU SWAIN

### PROJECT-01(Mercedes-Benz Greener Manufacturing)

#### DOMAIN-PRODUCTION/MANUFACTURING

OBJECTIVE-You are required to reduce the time that cars spend on the test bench. Others will work with a dataset representing different permutations of features in a Mercedes-Benz car to predict the time it takes to pass testing. Optimal algorithms will contribute to faster testing, resulting in lower carbon dioxide emissions without reducing Mercedes-Benz’s standards.

In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [2]:
train=pd.read_csv("train1.csv")
test=pd.read_csv("test1.csv")

In [3]:
train.head()

,ID,y,X0,X1,X2,X3,X4,X5,X6,X8,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,0,130.81,k,v,at,a,d,u,j,o,...,0,0,1,0,0,0,0,0,0,0
1,6,88.53,k,t,av,e,d,y,l,o,...,1,0,0,0,0,0,0,0,0,0
2,7,76.26,az,w,n,c,d,x,j,x,...,0,0,0,0,0,0,1,0,0,0
3,9,80.62,az,t,n,f,d,x,l,e,...,0,0,0,0,0,0,0,0,0,0
4,13,78.02,az,v,n,f,d,h,d,n,...,0,0,0,0,0,0,0,0,0,0

In [5]:
test.head()

,ID,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,1,az,v,n,f,d,t,a,w,0,...,0,0,0,1,0,0,0,0,0,0
1,2,t,b,ai,a,d,b,g,y,0,...,0,0,1,0,0,0,0,0,0,0
2,3,az,v,as,f,d,a,j,j,0,...,0,0,0,1,0,0,0,0,0,0
3,4,az,l,n,f,d,z,l,n,0,...,0,0,0,1,0,0,0,0,0,0
4,5,w,s,as,c,d,y,i,m,0,...,1,0,0,0,0,0,0,0,0,0

In [6]:
train.drop(columns="ID",inplace=True)
test.drop(columns="ID",inplace=True)

In [7]:
train.shape,test.shape

((4209, 377), (4209, 376))

## Remove columns having zero variance

In [18]:
zero_var_col=train.var()[train.var()==0].index.values
zero_var_col

array(['X11', 'X93', 'X107', 'X233', 'X235', 'X268', 'X289', 'X290',
       'X293', 'X297', 'X330', 'X347'], dtype=object)

In [19]:
train.drop(zero_var_col,axis=1,inplace=True)
test.drop(zero_var_col,axis=1,inplace=True)

In [20]:
train.shape,test.shape

((4209, 365), (4209, 364))

## Checking of null values in Train and Test dataset

In [22]:
train.isna().sum()

y       0
X0      0
X1      0
X2      0
X3      0
       ..
X380    0
X382    0
X383    0
X384    0
X385    0
Length: 365, dtype: int64

In [24]:
np.sum(train.isna().sum())

0

In [25]:
test.isna().sum().sum()

0

## Checking of  unique values in Train and Test dataset

In [26]:
train.describe(include="all").T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
y,4209.0,NaN,NaN,NaN,100.669318,12.679381,72.11,90.82,99.15,109.01,265.32
X0,4209,47,z,360,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X1,4209,27,aa,833,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X2,4209,44,as,1659,NaN,NaN,NaN,NaN,NaN,NaN,NaN
X3,4209,7,c,1942,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
X380,4209.0,NaN,NaN,NaN,0.008078,0.089524,0.0,0.0,0.0,0.0,1.0
X382,4209.0,NaN,NaN,NaN,0.007603,0.086872,0.0,0.0,0.0,0.0,1.0
X383,4209.0,NaN,NaN,NaN,0.001663,0.040752,0.0,0.0,0.0,0.0,1.0
X384,4209.0,NaN,NaN,NaN,0.000475,0.021796,0.0,0.0,0.0,0.0,1.0
X385,4209.0,NaN,NaN,NaN,0.001426,0.037734,0.0,0.0,0.0,0.0,1.0

In [27]:
train.nunique()

y       2545
X0        47
X1        27
X2        44
X3         7
        ...
X380       2
X382       2
X383       2
X384       2
X385       2
Length: 365, dtype: int64

In [28]:
test.nunique()

X0      49
X1      27
X2      45
X3       7
X4       4
        ..
X380     2
X382     2
X383     2
X384     2
X385     2
Length: 364, dtype: int64

In [29]:
for i in train:
    print("\nThe unique values in column ",i)
    print(train[i].unique())

The unique values in column  y
[130.81  88.53  76.26 ...  85.71 108.77  87.48]

The unique values in column  X0
['k' 'az' 't' 'al' 'o' 'w' 'j' 'h' 's' 'n' 'ay' 'f' 'x' 'y' 'aj' 'ak' 'am'
 'z' 'q' 'at' 'ap' 'v' 'af' 'a' 'e' 'ai' 'd' 'aq' 'c' 'aa' 'ba' 'as' 'i'
 'r' 'b' 'ax' 'bc' 'u' 'ad' 'au' 'm' 'l' 'aw' 'ao' 'ac' 'g' 'ab']

The unique values in column  X1
['v' 't' 'w' 'b' 'r' 'l' 's' 'aa' 'c' 'a' 'e' 'h' 'z' 'j' 'o' 'u' 'p' 'n'
 'i' 'y' 'd' 'f' 'm' 'k' 'g' 'q' 'ab']

The unique values in column  X2
['at' 'av' 'n' 'e' 'as' 'aq' 'r' 'ai' 'ak' 'm' 'a' 'k' 'ae' 's' 'f' 'd'
 'ag' 'ay' 'ac' 'ap' 'g' 'i' 'aw' 'y' 'b' 'ao' 'al' 'h' 'x' 'au' 't' 'an'
 'z' 'ah' 'p' 'am' 'j' 'q' 'af' 'l' 'aa' 'c' 'o' 'ar']

The unique values in column  X3
['a' 'e' 'c' 'f' 'd' 'b' 'g']

The unique values in column  X4
['d' 'b' 'c' 'a']

The unique values in column  X5
['u' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac' 'ad' 'ae'
 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']

The unique values in column  X6
['j' 'l' 'd' 'h' 'i' 'a' 'g' 'c' 'k' 'e' 'f' 'b']

The unique values in column  X8
['o' 'x' 'e' 'n' 's' 'a' 'h' 'p' 'm' 'k' 'd' 'i' 'v' 'j' 'b' 'q' 'w' 'g'
 'y' 'l' 'f' 'u' 'r' 't' 'c']

The unique values in column  X10
[0 1]

The unique values in column  X12
[0 1]

The unique values in column  X13
[1 0]

The unique values in column  X14
[0 1]

The unique values in column  X15
[0 1]

The unique values in column  X16
[0 1]

The unique values in column  X17
[0 1]

The unique values in column  X18
[1 0]

The unique values in column  X19
[0 1]

The unique values in column  X20
[0 1]

The unique values in column  X21
[1 0]

The unique values in column  X22
[0 1]

The unique values in column  X23
[0 1]

The unique values in column  X24
[0 1]

The unique values in column  X26
[0 1]

The unique values in column  X27
[0 1]

The unique values in column  X28
[0 1]

The unique values in column  X29
[0 1]

The unique values in column  X30
[0 1]

The unique values in column  X31
[1 0]

The unique values in column  X32
[0 1]

The unique values in column  X33
[0 1]

The unique values in column  X34
[0 1]

The unique values in column  X35
[1 0]

The unique values in column  X36
[0 1]

The unique values in column  X37
[1 0]

The unique values in column  X38
[0 1]

The unique values in column  X39
[0 1]

The unique values in column  X40
[0 1]

The unique values in column  X41
[0 1]

The unique values in column  X42
[0 1]

The unique values in column  X43
[0 1]

The unique values in column  X44
[0 1]

The unique values in column  X45
[0 1]

The unique values in column  X46
[1 0]

The unique values in column  X47
[0 1]

The unique values in column  X48
[0 1]

The unique values in column  X49
[0 1]

The unique values in column  X50
[0 1]

The unique values in column  X51
[0 1]

The unique values in column  X52
[0 1]

The unique values in column  X53
[0 1]

The unique values in column  X54
[0 1]

The unique values in column  X55
[0 1]

The unique values in column  X56
[0 1]

The unique values in column  X57
[0 1]

The unique values in column  X58
[1 0]

The unique values in column  X59
[0 1]

The unique values in column  X60
[0 1]

The unique values in column  X61
[0 1]

The unique values in column  X62
[0 1]

The unique values in column  X63
[0 1]

The unique values in column  X64
[0 1]

The unique values in column  X65
[0 1]

The unique values in column  X66
[0 1]

The unique values in column  X67
[0 1]

The unique values in column  X68
[1 0]

The unique values in column  X69
[0 1]

The unique values in column  X70
[1 0]

The unique values in column  X71
[0 1]

The unique values in column  X73
[0 1]

The unique values in column  X74
[1 0]

The unique values in column  X75
[0 1]

The unique values in column  X76
[0 1]

The unique values in column  X77
[0 1]

The unique values in column  X78
[0 1]

The unique values in column  X79
[0 1]

The unique values in column  X80
[0 1]

The unique values in column  X81
[0 1]

The unique values in column  X82
[0 1]

The unique values in column  X83
[0 1]

The unique values in column  X84
[0 1]

The unique values in column  X85
[1 0]

The unique values in column  X86
[0 1]

The unique values in column  X87
[0 1]

The unique values in column  X88
[0 1]

The unique values in column  X89
[0 1]

The unique values in column  X90
[0 1]

The unique values in column  X91
[0 1]

The unique values in column  X92
[0 1]

The unique values in column  X94
[0 1]

The unique values in column  X95
[0 1]

The unique values in column  X96
[0 1]

The unique values in column  X97
[0 1]

The unique values in column  X98
[0 1]

The unique values in column  X99
[0 1]

The unique values in column  X100
[0 1]

The unique values in column  X101
[0 1]

The unique values in column  X102
[0 1]

The unique values in column  X103
[0 1]

The unique values in column  X104
[0 1]

The unique values in column  X105
[0 1]

The unique values in column  X106
[0 1]

The unique values in column  X108
[0 1]

The unique values in column  X109
[0 1]

The unique values in column  X110
[0 1]

The unique values in column  X111
[1 0]

The unique values in column  X112
[0 1]

The unique values in column  X113
[0 1]

The unique values in column  X114
[1 0]

The unique values in column  X115
[0 1]

The unique values in column  X116
[1 0]

The unique values in column  X117
[0 1]

The unique values in column  X118
[1 0]

The unique values in column  X119
[1 0]

The unique values in column  X120
[1 0]

The unique values in column  X122
[0 1]

The unique values in column  X123
[0 1]

The unique values in column  X124
[0 1]

The unique values in column  X125
[0 1]

The unique values in column  X126
[0 1]

The unique values in column  X127
[0 1]

The unique values in column  X128
[1 0]

The unique values in column  X129
[0 1]

The unique values in column  X130
[0 1]

The unique values in column  X131
[1 0]

The unique values in column  X132
[0 1]

The unique values in column  X133
[0 1]

The unique values in column  X134
[0 1]

The unique values in column  X135
[0 1]

The unique values in column  X136
[1 0]

The unique values in column  X137
[1 0]

The unique values in column  X138
[0 1]

The unique values in column  X139
[0 1]

The unique values in column  X140
[0 1]

The unique values in column  X141
[0 1]

The unique values in column  X142
[1 0]

The unique values in column  X143
[0 1]

The unique values in column  X144
[1 0]

The unique values in column  X145
[0 1]

The unique values in column  X146
[0 1]

The unique values in column  X147
[0 1]

The unique values in column  X148
[0 1]

The unique values in column  X150
[1 0]

The unique values in column  X151
[0 1]

The unique values in column  X152
[0 1]

The unique values in column  X153
[0 1]

The unique values in column  X154
[0 1]

The unique values in column  X155
[0 1]

The unique values in column  X156
[1 0]

The unique values in column  X157
[0 1]

The unique values in column  X158
[0 1]

The unique values in column  X159
[0 1]

The unique values in column  X160
[0 1]

The unique values in column  X161
[0 1]

The unique values in column  X162
[0 1]

The unique values in column  X163
[0 1]

The unique values in column  X164
[0 1]

The unique values in column  X165
[0 1]

The unique values in column  X166
[0 1]

The unique values in column  X167
[0 1]

The unique values in column  X168
[0 1]

The unique values in column  X169
[0 1]

The unique values in column  X170
[1 0]

The unique values in column  X171
[0 1]

The unique values in column  X172
[0 1]

The unique values in column  X173
[0 1]

The unique values in column  X174
[0 1]

The unique values in column  X175
[0 1]

The unique values in column  X176
[0 1]

The unique values in column  X177
[0 1]

The unique values in column  X178
[0 1]

The unique values in column  X179
[1 0]

The unique values in column  X180
[0 1]

The unique values in column  X181
[0 1]

The unique values in column  X182
[0 1]

The unique values in column  X183
[0 1]

The unique values in column  X184
[1 0]

The unique values in column  X185
[0 1]

The unique values in column  X186
[0 1]

The unique values in column  X187
[1 0]

The unique values in column  X189
[1 0]

The unique values in column  X190
[0 1]

The unique values in column  X191
[0 1]

The unique values in column  X192
[0 1]

The unique values in column  X194
[1 0]

The unique values in column  X195
[0 1]

The unique values in column  X196
[0 1]

The unique values in column  X197
[0 1]

The unique values in column  X198
[0 1]

The unique values in column  X199
[0 1]

The unique values in column  X200
[0 1]

The unique values in column  X201
[0 1]

The unique values in column  X202
[0 1]

The unique values in column  X203
[0 1]

The unique values in column  X204
[1 0]

The unique values in column  X205
[0 1]

The unique values in column  X206
[0 1]

The unique values in column  X207
[0 1]

The unique values in column  X208
[0 1]

The unique values in column  X209
[1 0]

The unique values in column  X210
[0 1]

The unique values in column  X211
[0 1]

The unique values in column  X212
[0 1]

The unique values in column  X213
[0 1]

The unique values in column  X214
[0 1]

The unique values in column  X215
[0 1]

The unique values in column  X216
[0 1]

The unique values in column  X217
[0 1]

The unique values in column  X218
[0 1]

The unique values in column  X219
[0 1]

The unique values in column  X220
[1 0]

The unique values in column  X221
[0 1]

The unique values in column  X222
[0 1]

The unique values in column  X223
[0 1]

The unique values in column  X224
[0 1]

The unique values in column  X225
[0 1]

The unique values in column  X226
[0 1]

The unique values in column  X227
[0 1]

The unique values in column  X228
[0 1]

The unique values in column  X229
[0 1]

The unique values in column  X230
[0 1]

The unique values in column  X231
[0 1]

The unique values in column  X232
[0 1]

The unique values in column  X234
[1 0]

The unique values in column  X236
[0 1]

The unique values in column  X237
[1 0]

The unique values in column  X238
[0 1]

The unique values in column  X239
[0 1]

The unique values in column  X240
[0 1]

The unique values in column  X241
[0 1]

The unique values in column  X242
[0 1]

The unique values in column  X243
[0 1]

The unique values in column  X244
[0 1]

The unique values in column  X245
[0 1]

The unique values in column  X246
[0 1]

The unique values in column  X247
[0 1]

The unique values in column  X248
[0 1]

The unique values in column  X249
[0 1]

The unique values in column  X250
[0 1]

The unique values in column  X251
[0 1]

The unique values in column  X252
[0 1]

The unique values in column  X253
[0 1]

The unique values in column  X254
[0 1]

The unique values in column  X255
[0 1]

The unique values in column  X256
[0 1]

The unique values in column  X257
[0 1]

The unique values in column  X258
[0 1]

The unique values in column  X259
[0 1]

The unique values in column  X260
[0 1]

The unique values in column  X261
[0 1]

The unique values in column  X262
[1 0]

The unique values in column  X263
[1 0]

The unique values in column  X264
[0 1]

The unique values in column  X265
[0 1]

The unique values in column  X266
[1 0]

The unique values in column  X267
[0 1]

The unique values in column  X269
[0 1]

The unique values in column  X270
[0 1]

The unique values in column  X271
[0 1]

The unique values in column  X272
[0 1]

The unique values in column  X273
[1 0]

The unique values in column  X274
[0 1]

The unique values in column  X275
[1 0]

The unique values in column  X276
[0 1]

The unique values in column  X277
[0 1]

The unique values in column  X278
[0 1]

The unique values in column  X279
[0 1]

The unique values in column  X280
[0 1]

The unique values in column  X281
[0 1]

The unique values in column  X282
[0 1]

The unique values in column  X283
[0 1]

The unique values in column  X284
[0 1]

The unique values in column  X285
[1 0]

The unique values in column  X286
[0 1]

The unique values in column  X287
[0 1]

The unique values in column  X288
[0 1]

The unique values in column  X291
[0 1]

The unique values in column  X292
[0 1]

The unique values in column  X294
[0 1]

The unique values in column  X295
[0 1]

The unique values in column  X296
[0 1]

The unique values in column  X298
[0 1]

The unique values in column  X299
[0 1]

The unique values in column  X300
[0 1]

The unique values in column  X301
[0 1]

The unique values in column  X302
[0 1]

The unique values in column  X304
[0 1]

The unique values in column  X305
[0 1]

The unique values in column  X306
[1 0]

The unique values in column  X307
[0 1]

The unique values in column  X308
[0 1]

The unique values in column  X309
[0 1]

The unique values in column  X310
[0 1]

The unique values in column  X311
[0 1]

The unique values in column  X312
[0 1]

The unique values in column  X313
[0 1]

The unique values in column  X314
[0 1]

The unique values in column  X315
[0 1]

The unique values in column  X316
[1 0]

The unique values in column  X317
[0 1]

The unique values in column  X318
[0 1]

The unique values in column  X319
[0 1]

The unique values in column  X320
[0 1]

The unique values in column  X321
[0 1]

The unique values in column  X322
[0 1]

The unique values in column  X323
[0 1]

The unique values in column  X324
[1 0]

The unique values in column  X325
[0 1]

The unique values in column  X326
[0 1]

The unique values in column  X327
[1 0]

The unique values in column  X328
[0 1]

The unique values in column  X329
[1 0]

The unique values in column  X331
[0 1]

The unique values in column  X332
[0 1]

The unique values in column  X333
[0 1]

The unique values in column  X334
[1 0]

The unique values in column  X335
[0 1]

The unique values in column  X336
[0 1]

The unique values in column  X337
[0 1]

The unique values in column  X338
[0 1]

The unique values in column  X339
[0 1]

The unique values in column  X340
[0 1]

The unique values in column  X341
[0 1]

The unique values in column  X342
[0 1]

The unique values in column  X343
[0 1]

The unique values in column  X344
[0 1]

The unique values in column  X345
[0 1]

The unique values in column  X346
[0 1]

The unique values in column  X348
[0 1]

The unique values in column  X349
[0 1]

The unique values in column  X350
[0 1]

The unique values in column  X351
[0 1]

The unique values in column  X352
[0 1]

The unique values in column  X353
[0 1]

The unique values in column  X354
[1 0]

The unique values in column  X355
[0 1]

The unique values in column  X356
[0 1]

The unique values in column  X357
[0 1]

The unique values in column  X358
[0 1]

The unique values in column  X359
[0 1]

The unique values in column  X360
[0 1]

The unique values in column  X361
[1 0]

The unique values in column  X362
[0 1]

The unique values in column  X363
[0 1]

The unique values in column  X364
[0 1]

The unique values in column  X365
[0 1]

The unique values in column  X366
[0 1]

The unique values in column  X367
[0 1]

The unique values in column  X368
[0 1]

The unique values in column  X369
[0 1]

The unique values in column  X370
[0 1]

The unique values in column  X371
[0 1]

The unique values in column  X372
[0 1]

The unique values in column  X373
[0 1]

The unique values in column  X374
[0 1]

The unique values in column  X375
[0 1]

The unique values in column  X376
[0 1]

The unique values in column  X377
[1 0]

The unique values in column  X378
[0 1]

The unique values in column  X379
[0 1]

The unique values in column  X380
[0 1]

The unique values in column  X382
[0 1]

The unique values in column  X383
[0 1]

The unique values in column  X384
[0 1]

The unique values in column  X385
[0 1]

In [30]:
for i in test:
    print("\nThe unique values in column ",i)
    print(test[i].unique())

The unique values in column  X0
['az' 't' 'w' 'y' 'x' 'f' 'ap' 'o' 'ay' 'al' 'h' 'z' 'aj' 'd' 'v' 'ak'
 'ba' 'n' 'j' 's' 'af' 'ax' 'at' 'aq' 'av' 'm' 'k' 'a' 'e' 'ai' 'i' 'ag'
 'b' 'am' 'aw' 'as' 'r' 'ao' 'u' 'l' 'c' 'ad' 'au' 'bc' 'g' 'an' 'ae' 'p'
 'bb']

The unique values in column  X1
['v' 'b' 'l' 's' 'aa' 'r' 'a' 'i' 'p' 'c' 'o' 'm' 'z' 'e' 'h' 'w' 'g' 'k'
 'y' 't' 'u' 'd' 'j' 'q' 'n' 'f' 'ab']

The unique values in column  X2
['n' 'ai' 'as' 'ae' 's' 'b' 'e' 'ak' 'm' 'a' 'aq' 'ag' 'r' 'k' 'aj' 'ay'
 'ao' 'an' 'ac' 'af' 'ax' 'h' 'i' 'f' 'ap' 'p' 'au' 't' 'z' 'y' 'aw' 'd'
 'at' 'g' 'am' 'j' 'x' 'ab' 'w' 'q' 'ah' 'ad' 'al' 'av' 'u']

The unique values in column  X3
['f' 'a' 'c' 'e' 'd' 'g' 'b']

The unique values in column  X4
['d' 'b' 'a' 'c']

The unique values in column  X5
['t' 'b' 'a' 'z' 'y' 'x' 'h' 'g' 'f' 'j' 'i' 'd' 'c' 'af' 'ag' 'ab' 'ac'
 'ad' 'ae' 'ah' 'l' 'k' 'n' 'm' 'p' 'q' 's' 'r' 'v' 'w' 'o' 'aa']

The unique values in column  X6
['a' 'g' 'j' 'l' 'i' 'd' 'f' 'h' 'c' 'k' 'e' 'b']

The unique values in column  X8
['w' 'y' 'j' 'n' 'm' 's' 'a' 'v' 'r' 'o' 't' 'h' 'c' 'k' 'p' 'u' 'd' 'g'
 'b' 'q' 'e' 'l' 'f' 'i' 'x']

The unique values in column  X10
[0 1]

The unique values in column  X12
[0 1]

The unique values in column  X13
[0 1]

The unique values in column  X14
[0 1]

The unique values in column  X15
[0 1]

The unique values in column  X16
[0 1]

The unique values in column  X17
[0 1]

The unique values in column  X18
[0 1]

The unique values in column  X19
[0 1]

The unique values in column  X20
[0 1]

The unique values in column  X21
[0 1]

The unique values in column  X22
[0 1]

The unique values in column  X23
[0 1]

The unique values in column  X24
[0 1]

The unique values in column  X26
[0 1]

The unique values in column  X27
[1 0]

The unique values in column  X28
[1 0]

The unique values in column  X29
[1 0]

The unique values in column  X30
[0 1]

The unique values in column  X31
[1 0]

The unique values in column  X32
[0 1]

The unique values in column  X33
[0 1]

The unique values in column  X34
[0 1]

The unique values in column  X35
[1 0]

The unique values in column  X36
[0 1]

The unique values in column  X37
[1 0]

The unique values in column  X38
[0 1]

The unique values in column  X39
[0 1]

The unique values in column  X40
[0 1]

The unique values in column  X41
[0 1]

The unique values in column  X42
[0 1]

The unique values in column  X43
[1 0]

The unique values in column  X44
[0 1]

The unique values in column  X45
[0 1]

The unique values in column  X46
[1 0]

The unique values in column  X47
[0 1]

The unique values in column  X48
[0 1]

The unique values in column  X49
[0 1]

The unique values in column  X50
[0 1]

The unique values in column  X51
[0 1]

The unique values in column  X52
[0 1]

The unique values in column  X53
[0 1]

The unique values in column  X54
[1 0]

The unique values in column  X55
[0 1]

The unique values in column  X56
[0 1]

The unique values in column  X57
[0 1]

The unique values in column  X58
[0 1]

The unique values in column  X59
[0 1]

The unique values in column  X60
[0 1]

The unique values in column  X61
[1 0]

The unique values in column  X62
[0 1]

The unique values in column  X63
[0 1]

The unique values in column  X64
[0 1]

The unique values in column  X65
[0 1]

The unique values in column  X66
[0 1]

The unique values in column  X67
[0 1]

The unique values in column  X68
[0 1]

The unique values in column  X69
[0 1]

The unique values in column  X70
[1 0]

The unique values in column  X71
[0 1]

The unique values in column  X73
[0 1]

The unique values in column  X74
[1 0]

The unique values in column  X75
[0 1]

The unique values in column  X76
[1 0]

The unique values in column  X77
[0 1]

The unique values in column  X78
[0 1]

The unique values in column  X79
[0 1]

The unique values in column  X80
[1 0]

The unique values in column  X81
[0 1]

The unique values in column  X82
[0 1]

The unique values in column  X83
[0 1]

The unique values in column  X84
[0 1]

The unique values in column  X85
[0 1]

The unique values in column  X86
[0 1]

The unique values in column  X87
[0 1]

The unique values in column  X88
[0 1]

The unique values in column  X89
[0 1]

The unique values in column  X90
[0 1]

The unique values in column  X91
[0 1]

The unique values in column  X92
[0 1]

The unique values in column  X94
[0 1]

The unique values in column  X95
[0 1]

The unique values in column  X96
[1 0]

The unique values in column  X97
[0 1]

The unique values in column  X98
[1 0]

The unique values in column  X99
[0 1]

The unique values in column  X100
[0 1]

The unique values in column  X101
[1 0]

The unique values in column  X102
[0 1]

The unique values in column  X103
[0 1]

The unique values in column  X104
[0 1]

The unique values in column  X105
[0 1]

The unique values in column  X106
[0 1]

The unique values in column  X108
[0 1]

The unique values in column  X109
[0 1]

The unique values in column  X110
[0 1]

The unique values in column  X111
[1 0]

The unique values in column  X112
[0 1]

The unique values in column  X113
[0 1]

The unique values in column  X114
[1 0]

The unique values in column  X115
[0 1]

The unique values in column  X116
[0 1]

The unique values in column  X117
[0 1]

The unique values in column  X118
[0 1]

The unique values in column  X119
[0 1]

The unique values in column  X120
[0 1]

The unique values in column  X122
[0 1]

The unique values in column  X123
[0 1]

The unique values in column  X124
[0 1]

The unique values in column  X125
[0 1]

The unique values in column  X126
[0 1]

The unique values in column  X127
[0 1]

The unique values in column  X128
[1 0]

The unique values in column  X129
[0 1]

The unique values in column  X130
[0 1]

The unique values in column  X131
[0 1]

The unique values in column  X132
[1 0]

The unique values in column  X133
[0 1]

The unique values in column  X134
[0 1]

The unique values in column  X135
[0 1]

The unique values in column  X136
[0 1]

The unique values in column  X137
[0 1]

The unique values in column  X138
[0 1]

The unique values in column  X139
[0 1]

The unique values in column  X140
[0 1]

The unique values in column  X141
[0 1]

The unique values in column  X142
[0 1]

The unique values in column  X143
[0 1]

The unique values in column  X144
[1 0]

The unique values in column  X145
[0 1]

The unique values in column  X146
[0 1]

The unique values in column  X147
[0 1]

The unique values in column  X148
[1 0]

The unique values in column  X150
[1 0]

The unique values in column  X151
[0 1]

The unique values in column  X152
[0 1]

The unique values in column  X153
[0 1]

The unique values in column  X154
[0 1]

The unique values in column  X155
[0 1]

The unique values in column  X156
[0 1]

The unique values in column  X157
[1 0]

The unique values in column  X158
[1 0]

The unique values in column  X159
[0 1]

The unique values in column  X160
[0 1]

The unique values in column  X161
[0 1]

The unique values in column  X162
[1 0]

The unique values in column  X163
[0 1]

The unique values in column  X164
[0 1]

The unique values in column  X165
[0 1]

The unique values in column  X166
[1 0]

The unique values in column  X167
[0 1]

The unique values in column  X168
[0 1]

The unique values in column  X169
[0 1]

The unique values in column  X170
[0 1]

The unique values in column  X171
[0 1]

The unique values in column  X172
[0 1]

The unique values in column  X173
[0 1]

The unique values in column  X174
[0 1]

The unique values in column  X175
[0 1]

The unique values in column  X176
[0 1]

The unique values in column  X177
[0 1]

The unique values in column  X178
[0 1]

The unique values in column  X179
[1 0]

The unique values in column  X180
[0 1]

The unique values in column  X181
[0 1]

The unique values in column  X182
[0 1]

The unique values in column  X183
[0 1]

The unique values in column  X184
[0 1]

The unique values in column  X185
[1 0]

The unique values in column  X186
[0 1]

The unique values in column  X187
[0 1]

The unique values in column  X189
[0 1]

The unique values in column  X190
[0 1]

The unique values in column  X191
[0 1]

The unique values in column  X192
[0 1]

The unique values in column  X194
[1 0]

The unique values in column  X195
[0 1]

The unique values in column  X196
[0 1]

The unique values in column  X197
[0 1]

The unique values in column  X198
[0 1]

The unique values in column  X199
[0 1]

The unique values in column  X200
[0 1]

The unique values in column  X201
[0 1]

The unique values in column  X202
[0 1]

The unique values in column  X203
[0 1]

The unique values in column  X204
[1 0]

The unique values in column  X205
[0 1]

The unique values in column  X206
[0 1]

The unique values in column  X207
[0 1]

The unique values in column  X208
[0 1]

The unique values in column  X209
[1 0]

The unique values in column  X210
[0 1]

The unique values in column  X211
[0 1]

The unique values in column  X212
[0 1]

The unique values in column  X213
[0 1]

The unique values in column  X214
[0 1]

The unique values in column  X215
[0 1]

The unique values in column  X216
[0 1]

The unique values in column  X217
[0 1]

The unique values in column  X218
[1 0]

The unique values in column  X219
[0 1]

The unique values in column  X220
[1 0]

The unique values in column  X221
[0 1]

The unique values in column  X222
[0 1]

The unique values in column  X223
[1 0]

The unique values in column  X224
[0 1]

The unique values in column  X225
[0 1]

The unique values in column  X226
[0 1]

The unique values in column  X227
[0 1]

The unique values in column  X228
[0 1]

The unique values in column  X229
[0 1]

The unique values in column  X230
[0 1]

The unique values in column  X231
[0 1]

The unique values in column  X232
[1 0]

The unique values in column  X234
[0 1]

The unique values in column  X236
[0 1]

The unique values in column  X237
[0 1]

The unique values in column  X238
[0 1]

The unique values in column  X239
[0 1]

The unique values in column  X240
[0 1]

The unique values in column  X241
[0 1]

The unique values in column  X242
[0 1]

The unique values in column  X243
[0 1]

The unique values in column  X244
[0 1]

The unique values in column  X245
[0 1]

The unique values in column  X246
[1 0]

The unique values in column  X247
[0 1]

The unique values in column  X248
[0 1]

The unique values in column  X249
[0 1]

The unique values in column  X250
[1 0]

The unique values in column  X251
[0 1]

The unique values in column  X252
[0 1]

The unique values in column  X253
[0 1]

The unique values in column  X254
[0 1]

The unique values in column  X255
[0 1]

The unique values in column  X256
[1 0]

The unique values in column  X257
[0]

The unique values in column  X258
[0]

The unique values in column  X259
[0 1]

The unique values in column  X260
[0 1]

The unique values in column  X261
[0 1]

The unique values in column  X262
[0 1]

The unique values in column  X263
[0 1]

The unique values in column  X264
[0 1]

The unique values in column  X265
[0 1]

The unique values in column  X266
[0 1]

The unique values in column  X267
[0 1]

The unique values in column  X269
[0 1]

The unique values in column  X270
[0 1]

The unique values in column  X271
[0 1]

The unique values in column  X272
[1 0]

The unique values in column  X273
[1 0]

The unique values in column  X274
[0 1]

The unique values in column  X275
[0 1]

The unique values in column  X276
[1 0]

The unique values in column  X277
[0 1]

The unique values in column  X278
[0 1]

The unique values in column  X279
[1 0]

The unique values in column  X280
[0 1]

The unique values in column  X281
[0 1]

The unique values in column  X282
[0 1]

The unique values in column  X283
[0 1]

The unique values in column  X284
[0 1]

The unique values in column  X285
[0 1]

The unique values in column  X286
[1 0]

The unique values in column  X287
[0 1]

The unique values in column  X288
[0 1]

The unique values in column  X291
[0 1]

The unique values in column  X292
[0 1]

The unique values in column  X294
[0 1]

The unique values in column  X295
[0]

The unique values in column  X296
[0]

The unique values in column  X298
[0 1]

The unique values in column  X299
[0 1]

The unique values in column  X300
[0 1]

The unique values in column  X301
[0 1]

The unique values in column  X302
[0 1]

The unique values in column  X304
[1 0]

The unique values in column  X305
[0 1]

The unique values in column  X306
[0 1]

The unique values in column  X307
[0 1]

The unique values in column  X308
[0 1]

The unique values in column  X309
[0 1]

The unique values in column  X310
[0 1]

The unique values in column  X311
[0 1]

The unique values in column  X312
[0 1]

The unique values in column  X313
[0 1]

The unique values in column  X314
[0 1]

The unique values in column  X315
[0 1]

The unique values in column  X316
[0 1]

The unique values in column  X317
[0 1]

The unique values in column  X318
[0 1]

The unique values in column  X319
[0 1]

The unique values in column  X320
[0 1]

The unique values in column  X321
[0 1]

The unique values in column  X322

[0 1]

The unique values in column  X323
[0 1]

The unique values in column  X324
[0 1]

The unique values in column  X325
[0 1]

The unique values in column  X326
[0 1]

The unique values in column  X327
[0 1]

The unique values in column  X328
[1 0]

The unique values in column  X329
[0 1]

The unique values in column  X331
[0 1]

The unique values in column  X332
[0 1]

The unique values in column  X333
[0 1]

The unique values in column  X334
[1 0]

The unique values in column  X335
[0 1]

The unique values in column  X336
[0 1]

The unique values in column  X337
[0 1]

The unique values in column  X338
[0 1]

The unique values in column  X339
[0 1]

The unique values in column  X340
[0 1]

The unique values in column  X341
[0 1]

The unique values in column  X342
[0 1]

The unique values in column  X343
[0 1]

The unique values in column  X344
[0 1]

The unique values in column  X345
[0 1]

The unique values in column  X346
[0 1]

The unique values in column  X348
[1 0]

The unique values in column  X349
[0 1]

The unique values in column  X350
[1 0]

The unique values in column  X351
[0 1]

The unique values in column  X352
[0 1]

The unique values in column  X353
[0 1]

The unique values in column  X354
[0 1]

The unique values in column  X355
[0 1]

The unique values in column  X356
[0 1]

The unique values in column  X357
[0 1]

The unique values in column  X358
[1 0]

The unique values in column  X359
[0 1]

The unique values in column  X360
[0 1]

The unique values in column  X361
[1 0]

The unique values in column  X362
[0 1]

The unique values in column  X363
[1 0]

The unique values in column  X364
[0 1]

The unique values in column  X365
[0 1]

The unique values in column  X366
[0 1]

The unique values in column  X367
[0 1]

The unique values in column  X368
[0 1]

The unique values in column  X369
[0]

The unique values in column  X370
[0 1]

The unique values in column  X371
[0 1]

The unique values in column  X372
[0 1]

The unique values in column  X373
[0 1]

The unique values in column  X374
[0 1]

The unique values in column  X375
[0 1]

The unique values in column  X376
[0 1]

The unique values in column  X377
[0 1]

The unique values in column  X378
[1 0]

The unique values in column  X379
[0 1]

The unique values in column  X380
[0 1]

The unique values in column  X382
[0 1]

The unique values in column  X383
[0 1]

The unique values in column  X384
[0 1]

The unique values in column  X385
[0 1]

In [31]:
train.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,k,v,at,a,d,u,j,o,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,k,t,av,e,d,y,l,o,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,az,w,n,c,d,x,j,x,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,az,t,n,f,d,x,l,e,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,az,v,n,f,d,h,d,n,0,...,0,0,0,0,0,0,0,0,0,0

## Apply Label Encoder to the columns having object datatype

In [19]:
train.describe(include="object")

          X0    X1    X2    X3    X4    X5    X6    X8
count   4209  4209  4209  4209  4209  4209  4209  4209
unique    47    27    44     7     4    29    12    25
top        z    aa    as     c     d     w     g     j
freq     360   833  1659  1942  4205   231  1042   277

In [20]:
object_col=train.describe(include="object").columns.values
object_col

array(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype=object)

In [21]:
test.describe(include="object").columns.values

array(['X0', 'X1', 'X2', 'X3', 'X4', 'X5', 'X6', 'X8'], dtype=object)

In [22]:
from sklearn.preprocessing import LabelEncoder

In [23]:
label_encoder=LabelEncoder()
for i in object_col:
    label_encoder.fit(train[i].append(test[i]).values)
    train[i]=label_encoder.transform(train[i])
    test[i]=label_encoder.transform(test[i])

In [24]:
train.head()

,y,X0,X1,X2,X3,X4,X5,X6,X8,X10,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,130.81,37,23,20,0,3,27,9,14,0,...,0,0,1,0,0,0,0,0,0,0
1,88.53,37,21,22,4,3,31,11,14,0,...,1,0,0,0,0,0,0,0,0,0
2,76.26,24,24,38,2,3,30,9,23,0,...,0,0,0,0,0,0,1,0,0,0
3,80.62,24,21,38,5,3,30,11,4,0,...,0,0,0,0,0,0,0,0,0,0
4,78.02,24,23,38,5,3,14,3,13,0,...,0,0,0,0,0,0,0,0,0,0

## Building ML model

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x=train.drop(columns="y")
y=train[["y"]]

In [27]:
x.head()

,X0,X1,X2,X3,X4,X5,X6,X8,X10,X12,...,X375,X376,X377,X378,X379,X380,X382,X383,X384,X385
0,37,23,20,0,3,27,9,14,0,0,...,0,0,1,0,0,0,0,0,0,0
1,37,21,22,4,3,31,11,14,0,0,...,1,0,0,0,0,0,0,0,0,0
2,24,24,38,2,3,30,9,23,0,0,...,0,0,0,0,0,0,1,0,0,0
3,24,21,38,5,3,30,11,4,0,0,...,0,0,0,0,0,0,0,0,0,0
4,24,23,38,5,3,14,3,13,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
y.head()

        y
0  130.81
1   88.53
2   76.26
3   80.62
4   78.02

In [29]:
x.shape,y.shape

((4209, 364), (4209, 1))

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,train_size=0.80,random_state=25)

In [31]:
x_train.shape,x_test.shape

((3367, 364), (842, 364))

In [32]:
y_train.shape,y_test.shape

((3367, 1), (842, 1))

## Perform dimensionality reduction(PCA-Principal Component Analysis)

In [33]:
from sklearn.decomposition import PCA

In [34]:
pca=PCA(n_components=0.95)
pca.fit(x_train)

PCA(n_components=0.95)

In [35]:
pca.n_components_

6

In [36]:
pca.explained_variance_

array([244.75144186, 131.35944864,  78.76792105,  64.48849676,
        49.57626276,   8.34249776])

In [37]:
x_train_pca=pca.fit_transform(x_train)
x_test_pca=pca.transform(x_test)

In [38]:
x_train_pca

array([[-12.47324199,  12.19028043,  11.58230459,   8.1175685 ,
          5.75530775,  -1.95263387],
       [-20.2417758 ,  -5.43497162, -13.63694591,  -2.03555958,
         11.33272505,   4.3515019 ],
       [ 12.47418815,  -3.99976841, -16.40093253,  -8.20864906,
          1.49736095,   3.9430753 ],
       ...,
       [  4.73966776,  -2.75718833,   9.17791124,   5.78784987,
          0.64179659,   3.49621087],
       [ -4.48021997,  -0.917884  ,   3.0746254 ,   2.81126331,
          7.99706073,  -0.89404095],
       [ -1.82279839, -12.9155011 ,   1.81797389,   7.99274857,
         -1.5708532 ,  -4.74910353]])

In [39]:
x_test_pca

array([[-16.88872645,   3.19447396, -15.95968376,  -2.19601887,
         -8.07261563,  -1.88853009],
       [ 24.82492351,   4.5212193 ,  -8.60357218,   6.33048458,
         11.31201254,  -4.14420826],
       [ 10.2526195 ,  -3.76709333,   1.58009514,  -4.52491522,
         -1.35355957,  -4.76284305],
       ...,
       [ 24.46745312,  -6.83241894,  -5.64679581,  -1.32207084,
          2.01314621,  -1.32343827],
       [ 29.41896587,  -7.85361678,   4.12387006,   5.90299044,
          1.29860342,  -1.79359603],
       [  3.93190731, -16.46831485,  -0.97140162,  -5.94175867,
         -9.99516493,   0.38669856]])

In [40]:
pca.explained_variance_ratio_

array([0.40748595, 0.21869996, 0.13114048, 0.10736671, 0.08253937,
       0.0138894 ])

In [41]:
np.sum(pca.explained_variance_ratio_)

0.9611218734170572

## Linear Regression

In [42]:
from sklearn.linear_model import LinearRegression

In [43]:
linear_model=LinearRegression()
linear_model.fit(x_train_pca,y_train)

LinearRegression()

In [44]:
pred=linear_model.predict(x_test_pca)
pred

array([[ 99.61026146],
       [106.0442159 ],
       [102.90754491],
       [100.29901535],
       [ 97.82239017],
       [ 99.47818064],
       [ 98.58665607],
       [102.43046177],
       [105.32931458],
       [100.85970459],
       [104.23061373],
       [ 97.50771986],
       [ 98.44608335],
       [103.93688678],
       [105.75999016],
       [100.09305243],
       [ 98.59498764],
       [ 98.43445001],
       [ 97.97340347],
       [102.06504313],
       [ 99.16548367],
       [ 94.86310623],
       [ 98.42795826],
       [102.75219911],
       [ 98.44055799],
       [ 96.61879481],
       [ 98.05697595],
       [104.348063  ],
       [105.17759623],
       [105.14155767],
       [105.35120962],
       [104.18247137],
       [102.30730866],
       [100.31731984],
       [105.54378891],
       [ 98.13527494],
       [ 96.4853577 ],
       [102.47788643],
       [ 99.1829905 ],
       [100.02192751],
       [ 95.14465232],
       [100.48213383],
       [105.20131389],
       [102.29070911],
       [100.83190669],
       [ 99.98844359],
       [ 99.4629676 ],
       [ 94.83621982],
       [103.4921067 ],
       [105.03419455],
       [ 99.11242518],
       [ 99.57280402],
       [101.41971562],
       [ 98.47431472],
       [100.08807581],
       [ 95.17822438],
       [102.5657747 ],
       [100.54949952],
       [101.35323547],
       [104.76993648],
       [105.97602552],
       [104.77034338],
       [ 97.78228748],
       [ 97.57554197],
       [ 98.93144856],
       [100.52971345],
       [106.23365291],
       [106.71583853],
       [105.05412457],
       [101.43686495],
       [105.63664977],
       [ 96.44232066],
       [101.57486105],
       [ 97.49635625],
       [ 99.10873661],
       [ 99.28512993],
       [ 98.69132884],
       [100.5940008 ],
       [106.02879087],
       [ 97.66068032],
       [104.80187568],
       [ 98.73308007],
       [102.22983597],
       [102.63949811],
       [102.73400085],
       [ 99.80083084],
       [ 99.29157556],
       [106.66600342],
       [ 99.22335641],
       [105.14836004],
       [ 98.4615215 ],
       [102.41208724],
       [ 99.83855235],
       [103.41039891],
       [100.04000146],
       [ 98.74151716],
       [101.38745246],
       [102.6210085 ],
       [ 99.20828487],
       [102.86250412],
       [ 97.95356771],
       [ 98.44697538],
       [ 97.27490421],
       [ 98.56443087],
       [ 98.16964861],
       [102.56390967],
       [104.73666563],
       [ 98.87187433],
       [101.12175667],
       [103.43994505],
       [102.66803985],
       [ 97.64615269],
       [ 98.81900146],
       [102.26970893],
       [ 97.59386851],
       [ 96.98620573],
       [104.23838104],
       [100.46023586],
       [ 97.41478957],
       [102.670985  ],
       [ 99.61983481],
       [ 97.77582818],
       [104.63241208],
       [106.23989922],
       [ 98.22299832],
       [ 99.89732672],
       [100.34220802],
       [ 99.9216949 ],
       [101.33935177],
       [104.14066787],
       [ 97.91031899],
       [103.66768074],
       [100.39285797],
       [105.36554924],
       [101.64689089],
       [ 97.69404555],
       [ 98.8680925 ],
       [ 98.60324921],
       [ 96.25632405],
       [ 96.93053912],
       [104.67041093],
       [104.42674807],
       [ 98.66584269],
       [ 99.28271979],
       [105.11843601],
       [ 98.5118601 ],
       [101.00909156],
       [ 98.6345062 ],
       [ 98.6025186 ],
       [ 98.08858436],
       [100.86061387],
       [104.25830561],
       [ 99.28943599],
       [104.81992302],
       [102.35891137],
       [ 97.68317742],
       [102.28104171],
       [ 97.833804  ],
       [102.90994871],
       [101.16293462],
       [ 96.9574231 ],
       [102.36249278],
       [100.3126624 ],
       [105.20631054],
       [102.11004737],
       [105.23356917],
       [ 97.44447786],
       [ 97.83941567],
       [100.41351668],
       [ 99.49347289],
       [ 98.95432939],
       [ 99.24164969],
       [ 98.24347746],
       [ 98.86038185],
       [102.25283105],
       [ 99.41818211],
       [ 95.61774158],
       [104.36806903],
       [101.31988284],
       [102.44071322],
       [101.30177685],
       [100.79794977],
       [103.54025807],
       [ 98.57585105],
       [ 98.44099703],
       [ 96.92479091],
       [ 98.32827747],
       [105.09323375],
       [104.76387958],
       [100.0625119 ],
       [ 99.7572255 ],
       [102.48816005],
       [ 98.37053335],
       [ 98.78609937],
       [104.39130518],
       [102.66306495],
       [ 98.60822659],
       [ 98.58598747],
       [ 98.14619346],
       [ 97.68373029],
       [101.67127584],
       [ 98.14613705],
       [ 98.69134528],
       [ 99.60666134],
       [ 98.5374547 ],
       [103.66914742],
       [ 97.88884706],
       [ 97.55651141],
       [ 99.50741494],
       [ 99.75226442],
       [ 99.96213162],
       [100.54070196],
       [ 98.92716748],
       [100.40404229],
       [ 97.27254723],
       [ 99.96389584],
       [100.52933841],
       [ 99.92463318],
       [100.61977558],
       [ 99.88005611],
       [ 98.03732094],
       [ 97.53484619],
       [104.12709952],
       [104.17094342],
       [100.48888619],
       [101.42553477],
       [104.92119933],
       [ 98.23522622],
       [ 99.96389584],
       [ 99.68929797],
       [ 99.54257325],
       [ 98.36222459],
       [104.9339876 ],
       [104.59193908],
       [104.53657706],
       [ 97.30802736],
       [ 96.11108295],
       [ 96.96524751],
       [ 97.79224   ],
       [ 99.68146243],
       [ 99.37858041],
       [103.46521407],
       [ 97.3251631 ],
       [100.04000146],
       [100.48892999],
       [ 99.39176005],
       [ 98.56397986],
       [ 98.61265588],
       [104.7334306 ],
       [ 98.16396875],
       [100.34864889],
       [ 99.93223363],
       [101.9101012 ],
       [ 99.0103796 ],
       [102.20158006],
       [ 98.13411834],
       [104.55392264],
       [100.58725411],
       [ 97.72339591],
       [102.20158006],
       [ 99.30929426],
       [102.09763006],
       [ 99.21466473],
       [106.01811783],
       [102.57770279],
       [104.43628632],
       [104.26394632],
       [102.85737839],
       [100.0260899 ],
       [ 99.66910655],
       [ 98.26192404],
       [100.84226118],
       [106.56974134],
       [ 97.66445513],
       [102.02487604],
       [ 96.76557809],
       [ 99.67125111],
       [ 99.53239767],
       [100.96562297],
       [ 99.39222414],
       [ 99.75857188],
       [ 98.86010976],
       [104.10604777],
       [ 98.65420306],
       [ 97.81095061],
       [ 98.53586715],
       [100.63388185],
       [104.5206377 ],
       [104.8468957 ],
       [ 98.93096797],
       [103.80288572],
       [101.95119959],
       [ 96.75032197],
       [ 98.7207762 ],
       [100.36984358],
       [ 98.16808701],
       [ 99.75470097],
       [104.67717599],
       [ 99.2070102 ],
       [101.68592173],
       [101.67193438],
       [100.07208925],
       [ 99.09732658],
       [104.89173687],
       [ 99.00238639],
       [ 98.8362765 ],
       [100.4447993 ],
       [103.4584637 ],
       [ 97.75816106],
       [105.68944544],
       [103.31870912],
       [ 96.82607966],
       [ 98.98783238],
       [ 98.78570857],
       [ 98.9191168 ],
       [ 96.37875646],
       [ 98.55714589],
       [104.6342813 ],
       [104.37198557],
       [101.47298457],
       [100.99151632],
       [101.64482305],
       [ 96.87007206],
       [ 96.12754014],
       [104.99003912],
       [106.36241366],
       [ 99.03103975],
       [ 99.15547456],
       [106.31209669],
       [ 97.37040074],
       [102.58731244],
       [101.98760041],
       [ 96.81734188],
       [ 98.18949786],
       [ 97.8862556 ],
       [105.26024079],
       [103.77169189],
       [ 98.04640315],
       [104.46679646],
       [ 99.15622999],
       [101.91523237],
       [ 99.90046834],
       [104.8458676 ],
       [102.77416375],
       [ 95.52284312],
       [ 99.66852081],
       [105.34894716],
       [101.99756874],
       [ 98.31153807],
       [ 96.73407364],
       [100.96055239],
       [103.7233084 ],
       [ 97.0846569 ],
       [104.06247552],
       [100.18310195],
       [102.0604408 ],
       [103.06393676],
       [102.03401715],
       [ 99.86578872],
       [100.73781567],
       [100.56333277],
       [ 98.64264225],
       [101.75761101],
       [ 98.01718481],
       [ 99.28479436],
       [ 99.99647051],
       [102.49212567],
       [102.04578229],
       [102.64171587],
       [ 98.3750286 ],
       [ 95.99215045],
       [ 99.34950694],
       [107.63955778],
       [ 99.29163493],
       [ 97.88338848],
       [ 98.31075469],
       [103.69168423],
       [106.06972204],
       [104.90300189],
       [100.09452837],
       [ 99.63865116],
       [ 98.56222675],
       [100.05728507],
       [102.95284973],
       [ 96.93505047],
       [ 98.19491339],
       [100.95152996],
       [ 97.42942123],
       [102.55914743],
       [ 99.65284159],
       [ 98.35080436],
       [102.11685528],
       [105.0174968 ],
       [104.88555995],
       [100.66568214],
       [ 98.1444726 ],
       [100.38182331],
       [ 98.65056092],
       [ 95.33745434],
       [ 98.32028497],
       [ 98.18933139],
       [ 97.28761819],
       [103.87056074],
       [ 99.41193631],
       [ 98.49393515],
       [102.18561048],
       [ 97.89821662],
       [101.46727408],
       [ 98.65232687],
       [100.53994014],
       [103.37904366],
       [103.06393676],
       [101.95794588],
       [103.51854841],
       [ 97.62260928],
       [103.15919376],
       [100.31373536],
       [104.79334238],
       [104.80187568],
       [ 98.66176388],
       [100.98815477],
       [103.0340599 ],
       [ 97.78538193],
       [105.688058  ],
       [ 98.34716129],
       [104.04067279],
       [105.05246758],
       [ 98.43920339],
       [ 98.33864589],
       [103.82589335],
       [101.70575389],
       [ 99.02126964],
       [100.7804024 ],
       [104.33359763],
       [ 98.05512485],
       [ 96.27104678],
       [104.57236128],
       [ 98.30507026],
       [101.64254253],
       [105.49190128],
       [103.19773839],
       [100.26241533],
       [ 98.20089097],
       [101.34538133],
       [101.24662124],
       [ 98.39039509],
       [104.93405408],
       [ 99.21570737],
       [101.9029014 ],
       [ 98.47431472],
       [100.19832591],
       [100.99756443],
       [ 99.41519337],
       [104.14404026],
       [104.11713732],
       [100.31585488],
       [ 98.59362833],
       [104.72008209],
       [ 99.96220496],
       [105.06256781],
       [106.50968089],
       [101.13675708],
       [103.97611686],
       [ 98.68596916],
       [ 98.46816023],
       [102.767284  ],
       [ 97.64144477],
       [103.22292451],
       [ 97.47734707],
       [102.51440073],
       [ 98.36298498],
       [ 97.85840891],
       [100.48935056],
       [ 98.57472994],
       [ 95.15920275],
       [105.56925882],
       [ 97.15219414],
       [ 98.02734831],
       [100.41567086],
       [102.08419473],
       [103.13302357],
       [ 98.18649137],
       [104.28189253],
       [103.66495324],
       [ 97.68011515],
       [102.42001405],
       [100.41426711],
       [102.2900144 ],
       [102.07431661],
       [104.02078771],
       [ 96.67975692],
       [ 99.2457007 ],
       [104.13157213],
       [ 98.42422095],
       [104.91265786],
       [ 97.85723002],
       [100.10111007],
       [103.74694167],
       [ 97.66500298],
       [ 97.67912783],
       [ 97.25004893],
       [ 97.86312043],
       [105.50406982],
       [101.37533023],
       [ 99.32583403],
       [ 98.04044863],
       [ 98.72013094],
       [ 99.0835137 ],
       [104.67703864],
       [103.9630397 ],
       [ 98.47059111],
       [105.56423088],
       [103.92894998],
       [104.83538927],
       [101.29402218],
       [ 98.37323497],
       [ 98.05771004],
       [ 98.03601979],
       [ 97.91814118],
       [101.3991812 ],
       [ 97.45405487],
       [103.21576872],
       [105.16042947],
       [ 96.65517525],
       [103.48562921],
       [ 98.31716061],
       [103.84191205],
       [ 99.19903672],
       [ 98.54947891],
       [104.91310312],
       [ 99.08742698],
       [ 98.52378149],
       [103.82609194],
       [102.27452131],
       [ 99.13529389],
       [104.39642321],
       [ 99.13097033],
       [ 98.10211859],
       [101.2210088 ],
       [ 99.9148458 ],
       [ 98.02880798],
       [ 99.17428044],
       [100.62242953],
       [101.57925558],
       [ 97.51660092],
       [ 98.7273148 ],
       [ 99.41124997],
       [105.894073  ],
       [100.99489507],
       [ 98.91829251],
       [100.42127148],
       [104.77989918],
       [102.79140997],
       [101.59439832],
       [ 97.94438577],
       [102.26789293],
       [103.54025807],
       [100.01997626],
       [104.28189253],
       [104.52851962],
       [ 99.54051385],
       [102.0592255 ],
       [100.37883088],
       [101.96040418],
       [101.35501319],
       [ 97.33094297],
       [ 98.30081042],
       [ 97.31438339],
       [100.42259305],
       [101.08318901],
       [105.53747588],
       [100.90242355],
       [103.51271075],
       [105.67305347],
       [ 99.10434353],
       [ 98.70872561],
       [105.90751621],
       [ 99.96220496],
       [ 95.45767792],
       [100.54760771],
       [ 98.20714595],
       [ 97.89121366],
       [ 98.62213905],
       [ 97.88507886],
       [ 97.6279959 ],
       [ 98.70753751],
       [101.59606863],
       [ 96.36121055],
       [100.6213883 ],
       [ 98.21229275],
       [ 99.96389584],
       [ 98.38438597],
       [ 97.39501392],
       [103.19467759],
       [102.2100738 ],
       [ 96.221484  ],
       [104.97552349],
       [ 99.85883699],
       [ 98.08542186],
       [104.25392614],
       [103.49377896],
       [ 98.17990067],
       [ 98.10492422],
       [ 96.84580746],
       [ 98.27370241],
       [103.73328898],
       [ 98.09514236],
       [103.55933827],
       [103.94958908],
       [104.02819618],
       [101.30699879],
       [102.41167076],
       [ 98.10211859],
       [103.84989331],
       [102.71270508],
       [101.26536744],
       [101.44695154],
       [100.28637874],
       [ 97.12308732],
       [ 96.23728276],
       [102.74698287],
       [102.20303099],
       [102.27496549],
       [104.41330486],
       [ 99.43157531],
       [ 96.64270415],
       [101.10207043],
       [101.36544203],
       [103.29261871],
       [ 99.0915939 ],
       [101.02815646],
       [ 96.23789115],
       [ 99.57461204],
       [ 98.5680852 ],
       [100.118072  ],
       [ 97.58598677],
       [104.99575068],
       [ 98.08247779],
       [ 98.44357628],
       [100.97599783],
       [ 97.31993698],
       [106.1061552 ],
       [ 99.34345069],
       [ 99.81161608],
       [ 99.09650647],
       [105.01719139],
       [ 99.09216915],
       [101.13743196],
       [ 99.52637797],
       [102.70055219],
       [ 98.02376039],
       [ 97.57170364],
       [100.12253845],
       [ 99.68179774],
       [103.98993381],
       [101.74125202],
       [ 99.24436699],
       [ 98.18123215],
       [103.41410591],
       [106.36262785],
       [ 98.7907017 ],
       [ 99.38810019],
       [100.97612014],
       [ 96.91092238],
       [100.20432238],
       [ 98.80609349],
       [ 97.17937403],
       [ 98.4036325 ],
       [104.23397781],
       [ 96.99885869],
       [ 98.31427663],
       [101.60543044],
       [104.42674807],
       [ 98.24508338],
       [ 98.25692495],
       [104.37031789],
       [101.10464108],
       [ 99.07375905],
       [103.89080207],
       [103.96040569],
       [ 99.02330948],
       [ 98.84690831],
       [100.57886698],
       [104.33373077],
       [104.99980083],
       [104.17899542],
       [100.22122   ],
       [105.7140353 ],
       [ 97.01978496],
       [102.53142218],
       [ 97.37474122],
       [103.2190104 ],
       [101.93306759],
       [102.45583847],
       [ 94.90210286],
       [ 98.66971275],
       [ 97.41638721],
       [103.77857763],
       [ 99.33926337],
       [ 99.51170516],
       [ 97.19987661],
       [101.90658546],
       [101.93649947],
       [ 95.58475187],
       [ 98.13029933],
       [101.81085346],
       [ 98.56752122],
       [100.01432706],
       [ 99.26629688],
       [104.09251419],
       [104.9289427 ],
       [ 97.46326225],
       [104.91798985],
       [104.60685288],
       [101.96002339],
       [103.31773579],
       [ 99.29782431],
       [103.73546047],
       [ 98.61329139],
       [102.49369928],
       [101.06554586],
       [106.07430488],
       [105.00196742],
       [ 98.28815189],
       [105.64364252],
       [104.36806903],
       [ 98.40926328],
       [102.99753183],
       [103.21237312],
       [ 98.83624033],
       [ 99.2070102 ],
       [100.22225689],
       [ 96.47280419],
       [ 99.5316234 ],
       [ 94.66520096],
       [ 98.01545836],
       [104.70255466],
       [104.41382937],
       [ 98.22619098],
       [ 96.90469966],
       [101.07672024],
       [103.78210906],
       [ 98.74872352],
       [ 94.91882733],
       [ 98.53428966],
       [104.11814147],
       [100.98172113],
       [100.43407436],
       [ 98.12109497],
       [ 97.95654391],
       [ 99.96202253],
       [100.78381586],
       [100.01851161],
       [ 98.66776344],
       [ 99.77685653],
       [ 99.07069717],
       [105.85447989],
       [ 98.26848284],
       [ 97.78071112],
       [102.16533526],
       [ 97.97018174],
       [ 99.28851479],
       [104.62176936],
       [ 99.41167694],
       [102.76471419],
       [101.31464035],
       [100.31286245],
       [ 98.40432566],
       [100.43197705],
       [ 98.96620115],
       [101.44073278],
       [106.43022487],
       [102.57698381],
       [ 99.33564832],
       [101.51606198],
       [ 97.85120579],
       [106.59864041],
       [ 97.58919936],
       [104.51602548],
       [ 97.2031097 ],
       [103.9267881 ],
       [ 94.71910078],
       [ 97.50495644],
       [103.84104571],
       [104.72738263],
       [ 98.32970272],
       [104.1416219 ],
       [104.83065448],
       [ 97.57469789],
       [102.49011797],
       [105.51991014],
       [105.93926203],
       [ 98.13271819],
       [ 96.8897231 ],
       [104.52946869],
       [106.3436914 ],
       [ 99.20881037],
       [105.98178967],
       [ 97.31324058],
       [ 97.04442922],
       [102.25713077],
       [ 99.22497724],
       [101.26214511],
       [101.3804635 ],
       [101.98552194],
       [100.1904379 ],
       [ 99.2119215 ],
       [ 95.84804001],
       [ 98.70589716],
       [ 97.2102956 ],
       [101.23993489],
       [101.50533293],
       [ 99.24911904],
       [ 98.01321767],
       [ 98.01420648],
       [105.38277286],
       [104.2217875 ],
       [ 98.36562139],
       [ 96.12554736],
       [104.89385437],
       [102.99183055],
       [ 97.60948585],
       [100.35826734],
       [ 98.60284488],
       [ 99.37491096],
       [ 98.92069807],
       [104.55287247],
       [ 99.59114685],
       [100.52850983],
       [ 97.9642855 ],
       [ 98.14968382],
       [ 97.93477833],
       [ 98.3663672 ],
       [100.69740252],
       [102.78707571],
       [ 94.78117296],
       [105.39156122],
       [ 99.04327378],
       [ 96.55949391],
       [105.40021087],
       [104.64206365],
       [101.07363629]])

In [45]:
from sklearn.metrics import mean_squared_error,r2_score

In [46]:
mean_squared_error(y_pred=pred,y_true=y_test)

146.42332347096547

In [47]:
mean_squared_error(y_pred=pred,y_true=y_test,squared=False)

12.10055054412672

In [48]:
r2_score(y_pred=pred,y_true=y_test)

0.024838075853205743

## Linear Regression using XGBoost

In [49]:
from xgboost import XGBRegressor

In [50]:
xgb_model=XGBRegressor(objective="reg:linear",learning_rate=0.1)
xgb_model.fit(x_train_pca,y_train)

[12:41:07] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/objective/regression_obj.cu:188: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.1, max_delta_step=0,
             max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=4,
             num_parallel_tree=1, objective='reg:linear', predictor='auto',
             random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             subsample=1, tree_method='exact', validate_parameters=1,
             verbosity=None)

In [51]:
xgb_pred=xgb_model.predict(x_test_pca)
xgb_pred

array([102.76453 ,  95.69934 , 105.29932 ,  94.63214 , 109.90327 ,
        96.552345,  93.86191 ,  72.94642 , 104.95297 ,  99.600395,
        98.42066 ,  92.18041 , 100.96305 , 111.032104, 113.75449 ,
       108.9629  , 107.8475  ,  97.01356 , 100.75376 ,  97.95204 ,
        99.49093 ,  92.09597 ,  92.28836 , 100.62599 , 101.75155 ,
       102.5966  ,  93.84322 , 113.14956 ,  94.168175, 109.38829 ,
       100.57961 , 110.661804,  80.1837  ,  95.431335, 111.96438 ,
        97.799255,  94.52357 , 111.21358 , 108.577545,  94.91593 ,
        97.07836 ,  96.00598 , 111.37035 , 103.21014 ,  93.677055,
        90.86232 ,  97.80297 ,  91.87829 , 104.666504, 104.68663 ,
        99.927086, 110.33094 ,  95.80324 ,  95.805916, 105.457794,
        94.7485  ,  91.13829 ,  93.89581 ,  96.7221  ,  96.24189 ,
       119.03503 , 102.17994 ,  94.841545, 109.19207 ,  96.58355 ,
       109.03911 , 106.721504, 122.89397 , 108.18036 ,  95.24458 ,
        97.42552 , 100.71242 ,  95.28053 , 109.953735,  94.10284 ,
        95.57373 ,  93.48474 , 103.20855 ,  90.85268 , 112.91529 ,
       101.48502 ,  95.32725 ,  79.15907 , 105.031815,  79.55849 ,
        96.614006, 101.14304 , 103.19725 ,  99.20018 , 110.50801 ,
        92.08704 ,  99.501076, 104.46074 ,  96.35674 ,  94.11436 ,
        93.57745 ,  94.76162 ,  76.86004 ,  97.218834, 103.45991 ,
        93.41376 ,  94.39547 ,  95.93451 ,  95.83481 ,  93.76575 ,
        97.15032 ,  79.881805, 110.18446 ,  98.16585 , 109.54837 ,
       101.550674,  92.055855,  99.37209 , 108.169   , 101.769325,
        94.993805,  79.045845,  94.96894 , 105.26732 , 102.92645 ,
       104.12619 ,  95.10782 , 107.68302 , 118.97445 , 110.57347 ,
       106.47577 ,  95.9864  ,  94.90481 ,  95.36676 , 104.48233 ,
       110.70077 , 112.04889 ,  95.32914 , 105.14033 ,  81.67589 ,
       113.549324, 104.04808 ,  94.55229 ,  96.647606, 109.39198 ,
       105.96441 , 110.46969 ,  95.2372  ,  98.02267 , 115.30226 ,
        94.279335,  95.40013 ,  96.68644 , 102.86296 , 109.00624 ,
        96.16777 , 110.35866 , 105.5042  ,  98.71551 ,  95.01821 ,
       107.69475 ,  95.06231 , 113.59725 , 110.79671 , 101.132965,
        95.851074,  99.525505,  94.705284, 110.14528 , 102.63445 ,
       112.069824,  91.20585 , 109.394966,  95.363625,  92.99692 ,
        97.69647 ,  94.99989 ,  90.82494 , 107.987885,  97.87163 ,
        92.6541  ,  91.871124, 111.39475 ,  92.30454 ,  79.86436 ,
        97.05745 ,  94.51088 , 103.02364 , 100.00469 , 110.19498 ,
       112.524734,  97.29186 , 105.80379 , 112.338165,  95.07407 ,
        96.34481 , 103.75504 ,  95.12004 ,  90.29266 ,  94.187836,
       102.00021 ,  94.2893  ,  94.57879 ,  94.47367 ,  92.88028 ,
        95.45737 ,  97.5434  ,  96.181595,  95.83542 ,  94.765564,
       107.51272 , 103.577736,  96.04142 ,  93.1857  ,  97.19905 ,
       105.78437 ,  93.98159 ,  93.79883 ,  94.35427 ,  94.45093 ,
        92.310295,  95.97165 ,  92.2704  ,  94.068214, 100.27574 ,
       110.83284 ,  93.91694 , 102.688225, 111.80278 ,  94.23269 ,
        96.678505, 108.97307 , 109.92856 ,  92.310295,  93.40679 ,
        92.517395,  94.59115 , 109.18794 ,  99.09211 , 105.74348 ,
       109.58943 ,  99.52289 , 105.76708 ,  93.38095 ,  97.30708 ,
        94.574844, 108.156944,  96.92582 ,  94.11436 ,  97.85573 ,
        94.67614 ,  95.60822 , 100.864494, 109.64845 , 106.464005,
        83.99608 ,  98.28157 , 100.78407 , 109.33588 , 106.54795 ,
        95.32982 ,  81.89084 , 101.75492 ,  94.54799 , 106.54795 ,
       112.49492 ,  97.92908 ,  96.773155,  98.715744, 104.62125 ,
        80.7007  , 101.90372 , 101.32334 , 103.35388 , 111.6242  ,
        94.44961 ,  93.15559 , 116.95036 ,  95.71247 , 100.652664,
       110.419914,  92.96268 ,  92.657814,  91.58577 ,  95.06144 ,
       100.08973 ,  97.48111 , 109.88059 ,  93.04348 ,  93.40429 ,
        94.25933 ,  93.24186 , 118.61349 , 110.5706  , 100.51928 ,
       100.74957 ,  93.803795,  98.31372 ,  98.802185,  94.64588 ,
        94.76766 ,  96.96486 , 112.82341 ,  96.991   ,  95.56564 ,
       101.15613 ,  94.19272 ,  95.509346, 111.2775  , 105.9272  ,
        96.67688 ,  95.99183 , 103.962654, 108.52457 , 105.91982 ,
       106.562614,  94.402985, 101.71786 , 102.96683 , 107.68736 ,
        94.69984 , 108.9802  , 112.04286 , 112.35177 , 109.6765  ,
       106.60808 , 104.104004,  93.42713 ,  97.63537 ,  95.613266,
        94.7438  ,  92.7061  , 109.77132 ,  88.94578 ,  93.079315,
       110.284386, 106.85881 , 111.50669 , 110.71381 , 113.37056 ,
       100.745575, 114.44457 , 111.94126 , 107.72917 ,  95.082504,
        80.23059 ,  94.797806, 109.97607 , 102.69055 ,  98.59786 ,
       109.04587 , 106.049576,  77.63147 ,  93.15147 ,  95.82262 ,
        98.451485, 108.99406 ,  95.4389  , 111.51371 , 101.62331 ,
       101.21422 ,  95.38924 ,  95.485565,  96.72302 , 108.69975 ,
        95.13729 , 108.88314 , 100.243286,  96.02677 , 104.33816 ,
        93.5588  , 102.78196 , 102.541595,  78.85968 , 110.79467 ,
        93.86095 ,  93.11782 , 106.45282 ,  99.58527 ,  93.6472  ,
        93.42918 , 103.691666, 107.54885 , 111.07136 ,  93.98174 ,
        93.666145,  97.30189 ,  99.334114, 102.178474, 111.86852 ,
        89.54999 ,  96.00336 ,  98.74048 , 101.457794,  94.73322 ,
        94.816505, 101.970436, 116.47744 , 117.15249 ,  97.83361 ,
        92.662384,  97.15573 ,  93.663055,  93.58072 ,  96.92141 ,
       105.50871 ,  93.455696, 109.97144 , 105.139915,  95.73359 ,
        96.113625, 103.60659 , 102.52962 ,  96.725426, 107.9256  ,
       106.63191 ,  95.38924 ,  99.56125 , 100.44759 ,  98.12006 ,
       102.49791 ,  94.999466, 111.01224 , 101.48502 , 110.041405,
        98.06048 , 101.26353 ,  94.738335, 105.87371 ,  94.39671 ,
        89.966606, 114.89164 ,  92.61189 ,  92.96035 , 110.00556 ,
        94.80553 , 108.805595, 103.72287 , 108.413574, 109.46895 ,
        94.26633 , 112.609215,  99.867325,  87.80924 , 115.23657 ,
       102.729706,  94.48774 ,  95.61579 ,  90.970955, 107.801994,
        97.527115, 114.238266,  95.81641 , 102.10513 ,  95.805916,
       108.841255,  99.59653 ,  96.27513 , 108.26537 , 103.09291 ,
        94.46673 ,  92.77387 , 108.54952 , 109.26532 , 107.59793 ,
       110.08533 ,  95.016624, 105.50309 ,  95.90054 ,  98.44277 ,
        96.01258 ,  94.7014  , 110.113785, 110.686386, 103.1596  ,
        93.673904,  94.614746, 104.19328 ,  96.95764 ,  95.65754 ,
       110.419426,  91.03448 , 106.61554 , 111.979706, 110.04145 ,
       102.729706,  90.75402 ,  95.25621 ,  79.0946  ,  94.800835,
        98.932495, 104.56144 ,  76.62732 ,  82.470375, 107.57704 ,
       110.279854,  93.94305 , 110.34587 , 107.25598 , 115.65467 ,
       112.44685 ,  96.411514, 102.83652 , 113.8002  , 113.18736 ,
       108.44392 ,  94.40898 , 115.4579  ,  95.82495 ,  94.67614 ,
        91.17819 ,  90.29266 ,  92.628845, 107.88736 , 101.186485,
        95.812965, 111.50583 ,  88.77281 , 106.07612 ,  95.9748  ,
        92.38701 ,  95.73062 , 111.96357 ,  94.19955 , 106.706635,
        94.34084 ,  95.421104, 110.44929 ,  91.125786, 103.27272 ,
        96.1282  , 102.5678  ,  97.925514, 107.882706, 110.18719 ,
        94.50698 ,  93.590965,  82.42539 , 105.944786, 101.309265,
       109.74913 ,  98.59723 ,  94.76766 ,  99.763405, 100.06788 ,
        96.00157 ,  97.68488 ,  97.56122 , 106.13528 ,  96.56019 ,
        94.451546, 109.21637 , 110.04181 , 110.13985 ,  96.90311 ,
        98.36118 , 109.97607 , 100.82758 , 100.23186 ,  93.35097 ,
       105.14164 , 103.02364 ,  90.006165,  95.25621 , 109.77808 ,
        98.8919  , 101.21422 ,  95.99183 , 102.175476, 103.66998 ,
       111.298416,  92.67627 ,  93.76132 , 102.61213 ,  97.60269 ,
       113.16323 , 107.3344  , 103.75491 , 109.913284,  92.7619  ,
       102.25706 , 109.83919 , 109.26532 ,  93.80083 , 111.00905 ,
        92.91974 ,  94.418686,  93.407715,  92.08976 ,  93.83501 ,
       101.437805, 103.528625, 106.89707 , 108.078926,  94.197205,
        92.310295, 100.75283 , 113.56974 ,  96.85859 ,  98.1509  ,
        95.65142 , 108.87363 ,  97.14769 , 108.68146 , 104.15686 ,
       102.872025, 113.46972 , 109.60267 , 100.56709 ,  92.18245 ,
        85.005424, 109.82162 , 103.46859 ,  80.1696  , 111.722336,
       110.57491 , 102.79829 ,  94.76766 , 103.06382 ,  78.96992 ,
       110.42568 ,  96.78005 ,  92.46189 , 106.56207 , 109.51339 ,
        79.734406,  98.0867  , 102.54344 , 110.12551 , 110.97383 ,
        93.51827 ,  95.08961 , 100.569626, 102.63888 ,  98.1196  ,
        99.65603 ,  95.37126 ,  94.9579  , 102.31295 ,  94.930016,
       110.259056, 111.412796,  94.67279 , 106.570625,  99.9145  ,
        98.00133 , 104.44341 ,  95.2452  ,  90.99975 ,  90.38278 ,
       111.20266 ,  92.90939 , 102.42511 ,  97.22961 , 101.210434,
        93.53624 ,  94.63356 ,  92.57921 , 101.09133 , 108.588295,
        97.77654 ,  94.12578 ,  95.496185,  99.11922 , 113.02269 ,
        93.133545,  97.418526,  93.64563 ,  91.81219 , 108.48801 ,
        93.95156 , 105.20484 ,  96.304184, 109.36158 , 101.33429 ,
        94.015594, 103.89594 , 110.46969 ,  94.0764  , 104.85303 ,
        78.36853 ,  95.82078 ,  96.1272  , 103.39549 , 101.186485,
        97.12303 ,  93.847725, 102.79633 , 101.446396, 114.469734,
       105.36769 ,  92.7418  , 111.53805 , 104.72179 , 107.52055 ,
        93.83756 , 104.990036,  98.25005 ,  96.86353 ,  91.08343 ,
        96.74413 ,  97.1796  , 103.413445,  95.14876 , 106.16246 ,
        96.111206,  78.31383 ,  77.06337 ,  98.32568 , 108.818924,
       102.69551 ,  94.2893  , 107.07136 ,  94.17096 , 112.10671 ,
       103.64236 ,  99.13261 , 111.074875, 108.90774 ,  78.59288 ,
        97.79009 , 104.10546 ,  87.84458 ,  94.50947 , 109.45091 ,
        95.55392 ,  92.722946, 114.014534, 107.3354  , 110.51337 ,
       111.39475 , 102.85508 , 110.87578 , 102.63888 , 107.879105,
        96.991   , 104.30795 ,  94.49284 ,  96.44275 ,  90.535164,
        93.85436 , 107.737144,  94.77567 ,  95.51462 ,  97.08616 ,
        99.18325 , 101.04521 ,  96.50167 , 102.060104, 104.34326 ,
       107.749374, 104.900604,  94.37194 ,  96.042534,  92.74773 ,
       104.57361 , 104.29601 , 111.27163 ,  94.957985,  95.54471 ,
        95.39843 , 106.57828 ,  98.043144,  92.42423 ,  81.37964 ,
        94.95884 ,  93.13551 , 103.958855,  94.313034, 105.92915 ,
       102.303215,  96.79263 ,  97.63617 ,  93.10756 , 105.90162 ,
        98.01709 , 119.21133 , 102.30456 ,  99.37209 ,  92.47331 ,
        93.8631  , 120.55125 ,  97.23447 , 111.34012 ,  97.30357 ,
       102.8114  ,  96.005135, 109.89499 , 111.87771 ,  99.07019 ,
       113.49206 , 103.47754 , 109.39409 , 104.02128 , 102.78196 ,
       107.21043 , 121.364075,  97.17996 ,  95.081436, 111.826904,
       110.08028 , 104.67164 , 117.392006,  93.131294, 106.02121 ,
       102.09018 ,  92.973434, 103.79404 ,  94.280045,  94.47366 ,
        95.86554 ,  96.8396  ,  91.40545 ,  94.96921 , 111.17373 ,
       109.035   ,  94.80939 ,  95.85902 ,  92.71207 ,  96.113205,
       107.54136 , 110.583374,  93.84313 ,  97.142975, 110.93929 ,
        96.30657 ,  99.679306, 100.00623 ,  93.91818 ,  94.97361 ,
       107.101616, 104.94557 , 106.80826 ,  99.39527 ,  95.49818 ,
        94.85763 ,  94.57164 ,  95.23371 , 105.161224,  77.958725,
       104.08272 , 111.81973 ,  93.16839 ,  96.327354, 106.44478 ,
       110.35309 ,  95.314926], dtype=float32)

In [52]:
mean_squared_error(y_pred=xgb_pred,y_true=y_test,squared=False)

9.44352846785231

In [53]:
r2_score(y_pred=xgb_pred,y_true=y_test)

0.4060702725072055

## Random forest using XGBoost

In [54]:
from xgboost import XGBClassifier

In [55]:
xgb_rf_model=XGBClassifier()
xgb_rf_model.fit(x_train_pca,y_train)

[12:41:10] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.5.1/src/learner.cc:1115: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'multi:softprob' was changed from 'merror' to 'mlogloss'. Explicitly set eval_metric if you'd like to restore the old behavior.

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
              gamma=0, gpu_id=-1, importance_type=None,
              interaction_constraints='', learning_rate=0.300000012,
              max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
              monotone_constraints='()', n_estimators=100, n_jobs=4,
              num_parallel_tree=1, objective='multi:softprob', predictor='auto',
              random_state=0, reg_alpha=0, reg_lambda=1, scale_pos_weight=None,
              subsample=1, tree_method='exact', validate_parameters=1,
              verbosity=None)

In [56]:
xgb_rf_pred=xgb_rf_model.predict(x_test_pca)
xgb_rf_pred

array([ 90.49,  87.86,  98.97,  90.44,  96.45,  99.94, 113.93,  75.85,
       113.39,  97.26, 106.82,  88.23, 116.59, 135.48, 142.71, 110.57,
        91.52,  89.  ,  89.91, 106.59,  93.59,  92.63, 111.55,  96.76,
        88.93,  89.25,  91.52, 130.97,  92.98, 114.8 , 110.07,  97.36,
        84.15, 101.  , 114.26, 113.39,  92.63, 113.93, 108.43,  87.57,
        92.63,  89.67, 104.87, 111.04,  97.32, 106.82, 101.39,  91.99,
       116.28, 106.52,  96.85, 112.67,  94.81, 109.13,  87.33,  91.41,
       100.35,  98.28,  90.4 ,  93.45, 119.78, 104.65,  92.79, 111.86,
        91.11,  88.66,  98.13, 149.63, 100.04,  89.23,  94.91, 106.97,
        97.86,  87.91, 108.99,  88.39,  92.03,  97.98, 106.39, 106.23,
       106.1 ,  95.77,  74.08, 105.82,  74.54,  90.58,  88.78, 101.71,
       102.91, 112.95,  86.61,  99.55, 109.05, 107.39,  93.67, 107.68,
        87.26,  78.25,  98.84, 108.02,  90.38,  93.6 ,  90.65,  92.13,
        90.16,  88.75, 123.17, 103.62, 110.32, 116.93, 108.24,  94.27,
        98.84, 108.72, 105.4 ,  91.16,  72.5 ,  86.61,  93.76,  95.74,
       118.27, 111.55, 106.52, 119.78, 108.61, 108.58, 108.69,  89.03,
        88.51, 108.21, 102.09, 111.64, 100.89, 107.36,  98.81, 115.07,
        92.2 ,  88.7 ,  86.96,  97.85,  99.93,  97.93,  91.62,  95.75,
       110.16, 112.31,  93.58,  97.37,  88.99,  93.97, 109.28, 107.05,
        89.38,  94.35,  99.58,  84.22, 105.29,  88.53, 109.39, 103.03,
        89.44, 106.59,  89.41, 116.02, 112.67, 101.03,  90.75, 106.88,
       116.55, 111.5 , 117.4 , 111.5 ,  88.05, 108.48, 103.42,  92.04,
        93.2 , 116.36,  90.46,  75.59, 100.68,  89.38, 101.46,  91.13,
       113.31, 109.81,  87.17, 108.56, 109.42,  89.14,  93.48, 105.76,
        95.71,  88.13, 107.36, 106.4 ,  88.05,  91.34,  93.18,  92.41,
       100.64, 103.62,  88.91,  92.99,  92.01,  76.59,  92.36, 106.5 ,
        89.5 ,  91.38,  85.44, 119.03, 107.44,  91.21,  89.94,  85.49,
        90.11,  88.67, 108.51, 118.27, 118.54,  88.  , 101.66, 117.36,
        88.67,  87.71, 104.29, 108.37,  85.49,  99.58,  95.73, 109.19,
       110.21,  89.06,  88.27, 148.94, 108.14, 107.66,  92.27,  98.74,
        88.7 ,  98.57,  90.02,  93.67, 100.39,  93.29,  98.16,  97.03,
       110.88,  89.12,  77.38,  94.5 , 103.32,  88.66, 107.13,  91.76,
        88.66,  89.75,  93.97, 107.13,  87.4 , 110.32,  86.56,  94.88,
        98.79, 132.86,  90.2 , 100.21,  98.59, 117.35,  90.93,  91.59,
       115.82,  98.57,  97.03, 103.62,  87.83,  89.38, 109.71, 100.71,
        99.26, 103.9 , 110.81,  88.2 ,  90.16,  92.57,  90.09, 109.18,
       116.93,  88.66, 100.12,  94.  ,  90.57,  90.38,  91.62, 111.17,
        98.16, 113.41,  93.71,  89.69,  94.62,  88.92, 101.39, 103.85,
        91.44,  88.99,  94.6 , 108.19, 111.22, 100.32, 105.04,  90.1 ,
        92.04, 115.73, 104.08,  85.68, 104.18,  97.67, 116.73, 106.05,
       106.4 , 100.25,  94.27,  94.6 , 115.15,  90.41, 117.24,  88.06,
       101.57,  92.6 , 106.41, 102.15, 110.  , 119.28,  88.61,  95.74,
       119.35, 111.74,  99.03,  86.56,  84.86,  88.39, 108.8 , 110.88,
        89.6 , 111.91, 116.02,  73.76,  95.59,  92.66, 107.5 , 108.03,
       118.54,  99.68,  89.03,  98.01,  93.87,  79.81,  91.99, 109.01,
        89.85, 119.87, 109.37, 109.33, 107.4 ,  89.03,  98.76,  98.01,
        84.27, 115.75,  94.6 ,  91.88, 111.02, 101.47,  93.18,  90.51,
       106.79, 105.53, 105.76, 104.87, 100.56,  88.41,  89.99, 102.93,
       108.01,  91.94,  91.16,  97.99,  98.28,  88.82,  90.71,  79.81,
       114.11, 114.11, 103.32,  88.75, 101.47,  88.18,  98.37,  92.73,
       115.82,  90.72, 115.45,  85.37,  99.05,  94.8 ,  91.01, 103.96,
        88.75,  92.22, 107.13,  93.87,  98.81,  99.68, 103.42,  99.53,
       110.07, 108.8 , 106.1 , 137.49,  90.76,  97.96,  89.86, 122.2 ,
        92.36,  99.48, 110.16,  86.91,  88.22, 104.85,  91.6 , 111.54,
       106.32, 115.45, 105.64,  90.1 ,  98.16,  87.49,  96.21, 108.8 ,
        96.48,  93.59,  99.05,  92.9 ,  87.86,  90.01,  99.51,  92.3 ,
       107.47, 109.13,  93.8 ,  92.22,  92.73, 110.02,  99.74,  93.14,
       109.11, 104.29, 106.87, 105.76, 111.74,  90.11, 106.51,  94.57,
        93.76, 101.59, 100.54, 102.91, 111.85,  89.11,  92.36,  91.13,
       111.5 , 101.49,  98.25, 107.36,  90.22,  90.35, 110.14, 107.04,
       112.69,  98.44,  93.78,  77.42,  97.71,  89.06, 100.1 ,  75.41,
        79.09, 119.35, 112.8 , 109.19, 104.21, 121.27, 111.91, 115.07,
        97.84,  94.8 , 148.94, 106.06,  86.61,  92.73, 118.85,  77.69,
        95.15,  89.22,  88.13,  91.07, 108.08,  96.14,  93.4 , 103.85,
        87.68, 104.66,  89.79,  86.91,  88.2 , 111.9 ,  98.28,  89.06,
        94.27,  99.52, 112.95,  88.93, 112.34,  89.83, 102.5 , 118.27,
       110.71, 119.02,  90.04,  90.57,  82.21, 109.97, 106.18, 107.5 ,
        88.88,  98.31, 100.98,  92.59, 100.44,  89.07, 110.37,  88.93,
        93.02, 100.77, 110.07, 108.03, 108.74,  89.37,  90.11, 108.8 ,
       100.21,  98.67,  89.6 ,  88.93, 101.46, 115.33,  93.78,  77.38,
        98.04,  98.64,  94.6 ,  99.86,  92.97, 111.47,  90.67,  88.86,
        90.18,  76.64, 116.36, 111.44,  98.95,  98.74,  88.62, 109.13,
       108.03, 106.87, 107.65, 139.16,  90.62,  90.75,  89.93,  91.01,
        88.45, 105.95, 109.33,  90.82, 110.54,  90.22,  85.49,  92.46,
       116.5 , 100.35,  91.84,  92.63,  97.67,  88.39, 108.38,  91.03,
       100.39,  91.6 ,  91.31, 104.18,  87.99, 109.19,  89.49, 102.3 ,
       118.44,  90.52,  95.71, 100.75,  98.31,  87.47,  98.81, 107.16,
        99.06,  95.01,  89.93,  92.73, 106.13,  98.91, 101.34,  97.93,
       111.54,  87.58,  99.51, 107.63,  96.48,  95.75,  93.8 , 108.71,
        93.62, 108.36,  94.52, 105.13, 113.88,  92.66, 108.36,  92.22,
        91.76, 113.39,  89.75,  93.48,  91.07, 110.88,  85.82,  97.51,
        99.35,  98.45, 104.85,  92.79,  88.67,  95.71, 119.71,  95.47,
       102.6 ,  89.4 , 106.31, 111.74,  92.9 ,  96.85,  99.15,  88.78,
       105.4 ,  87.23, 113.91,  89.07, 105.76, 109.09,  87.73, 112.8 ,
        97.93,  92.13,  95.98, 132.86,  98.59, 106.18, 107.62,  96.14,
        90.01,  91.88, 108.73, 101.71, 119.02,  98.58,  87.24, 115.39,
       111.85, 109.25,  88.78,  92.98,  92.83,  99.46,  93.71,  88.91,
        92.63,  98.81,  92.3 , 115.73,  89.79,  73.24,  74.99,  93.55,
       108.76,  87.8 ,  88.05,  91.11,  89.51, 129.45, 102.3 ,  91.47,
       103.85, 108.21,  91.94, 107.13, 111.31,  75.41,  94.24, 105.04,
        87.15, 102.42, 108.06,  90.42, 113.02, 116.36,  87.91, 102.39,
        97.63,  92.91,  93.71, 125.72,  90.35,  89.97,  92.63,  89.51,
       128.78,  95.15,  88.81,  92.51, 106.72, 109.77, 108.01, 102.65,
        90.35, 126.17, 118.41,  89.48, 129.16,  89.81, 150.43, 118.41,
        93.8 ,  89.9 ,  93.59,  89.79, 102.42,  94.27,  95.37,  75.59,
        86.18,  93.48, 107.05,  89.51, 125.84,  99.58,  91.76, 106.72,
        89.44, 112.09, 111.15, 116.6 , 108.26,  89.79,  76.01, 100.44,
       113.75, 130.  , 107.68,  90.1 ,  98.81,  92.02, 106.06, 109.34,
       107.83, 105.65,  98.81,  99.68,  88.69,  98.76, 120.17,  95.74,
        89.07,  95.37, 107.68, 111.22,  92.76, 109.04,  99.05, 105.36,
       103.34,  88.98, 107.7 , 106.05, 113.64,  88.9 ,  90.26,  92.18,
        97.17, 108.92, 109.01, 101.47,  91.82,  92.04,  92.81, 108.35,
       108.97,  92.6 ,  90.76, 105.87,  87.47,  89.86,  94.52,  89.38,
        90.82, 115.82, 105.29,  89.38, 101.19,  87.86,  90.83,  91.16,
        98.16, 108.84,  75.71, 102.65, 107.69,  92.83,  87.79, 105.76,
       105.97, 109.11])

In [57]:
mean_squared_error(y_pred=xgb_rf_pred,y_true=y_test,squared=False)

13.193019545458153

#                    THANK YOU!!!